.container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  
 
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;   
  }
}


@media (min-width: 769px) {
  .container {
    flex-direction: row;
  }
}

.container table {
    margin: 2rem;
}