name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Restore
        run: dotnet restore Backend/AuctionPlatform.sln

      - name: Build
        run: dotnet build Backend/AuctionPlatform.sln --no-restore -c Release

      - name: Test
        run: dotnet test Backend/AuctionPlatform.sln --no-build -c Release --verbosity normal
