header {
    width: 100%; 
    background-color:aqua;
    position: sticky;
}

.container {

    display: flex;
    justify-content: space-between;
    padding: 1rem;

}
.container {
  position: sticky;
  top: 0;
  z-index: 1000;

  width: min(600px, 92vw);
    margin: 0 auto;
    
  /* för .icon */
  position: sticky;
}


/* Header.module.css */
:global(.navbar .nav-link) {
  display: flex;
  align-items: center;
}
